%h1 Список отчетов
%p.text-left
  = link_to 'Отчет по входящим звонкам', reports_incoming_calls_path
%p.text-left
  = link_to 'Основной отчет по звонкам', reports_main_report_path
%p.text-left
  = link_to 'Отчет по оператору', reports_operator_path
